<!doctype html>
<title>Hello World</title>
<style>
    body { text-align: center; padding: 150px; }
    h1 { font-size: 50px; }
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    a { color: #dc8100; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
</style>
<article>
    <h1>Hello World!</h1>
    <p>This app is running behind a load balancer</p>
    <P><b id="server_hostname"></b></P>
    <P><b id="server_ip"></b></P>
    <div>
        <p>&mdash; DevOps Test App </p>
    </div>
    <script>
        var string_raw = "{{ansible_all_ipv4_addresses}}";
        string_ip = string_raw.replaceAll('u','');
        document.getElementById("server_ip").innerHTML = string_ip;
        document.getElementById("server_hostname").innerHTML = "{{ansible_hostname}}";
    </script>
</article>
</html>
